doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dropdown.css')
    script( src="/javascripts/jquery-3.1.1.min.js") 
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/javascripts/typeahead.min.js")
    script( src="/Services/service.js")
    script( src="/Services/localStorage.js")
    script( src="/Services/typeahead.js")
    script( src="/javascripts/insert.js")

  body
    block content
